.root {
  height: calc(100vh - 100px);
  margin-top: 110px;
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .root {
    min-height: -webkit-fill-available;
    margin-left: 0;
  }
}
