.aboutText {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.root {
  width: 70%;
  margin-bottom: 10rem;
}

@media (max-width: 767px) {
  .root {
    width: 80%;
  }
  .aboutText {
    text-align: center;
  }
}
