.root {
  background-color: #212121;
}

.scrolled {
  background-color: #333333;
  height: 60px !important;
  transition: all 0.3s ease-in-out;
}

.navLink {
  text-decoration: none;
  margin-left: 30px;
  list-style: none;
  color: #00ffc8;
  font-size: 20px;
  position: relative;
}

.navLink:hover {
  color: #00ffc8;
}

.navLink::before {
  content: "";
  top: -4px;
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #00ffc8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

.navLink:hover::before {
  visibility: visible;
  width: 100%;
}

.navLink::after {
  content: "";
  bottom: -4px;
  position: absolute;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #00ffc8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

.navLink:hover::after {
  visibility: visible;
  width: 100%;
}

.mobileMenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

.mobileMenuOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

@media (max-width: 768px) {
  .navLink {
    margin-left: 0;
  }
}
